
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;1,200;1,300&display=swap');



*{
    list-style-type: none;
    font-family: 'Mali', cursive;
    color: black;
}

.Navbar {
    @media (max-width: 600px){
        margin-top: 4%;
       height: 60px;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
    height: 80px;
    font-family: 'Inter', sans-serif;
    color:#D92525;
    margin-top: 4%;
    
    li{
        @media (max-width: 600px){
            margin-top: 8%;
            font-size: 1.3rem;
            height: 70px;
        }
      font-size: 2.0rem;
      
  } :hover{
      color: #f89999;
      text-decoration: underline;
  }


  }
 

   